<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Liked Songs Exporter</h1>

<p>Do you want to terminate your Spotify account but not lose all the songs you've saved?</p>
<p>Then this button could come to your aid.</p>

<form action="/login" method="get" class="order-form">
    <select name="order" id="order">
        <option value="chronological">Chronological</option>
        <option value="alphabetical">Alphabetical</option>
        <option value="random">Random</option>
    </select>
    <button type="submit" class="btn">Get Liked Songs</button>
</form>

</body>
</html>