<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<h1>Your Liked Songs</h1>
<p th:text="'Total songs exported: ' + ${songs.size()}"></p>

<div class="songs-grid">
    <div class="song-card" th:each="song : ${songs}">
        <img th:src="${song.coverUrl}" th:alt="${song.name}">
        <div class ="song-info">
            <h3 class="song-name" th:text="${song.name}"></h3>
            <p class="artist" th:Text="${song.artist}"></p>
            <p class="album" th:text="${song.album} + ' (' + ${song.readableReleaseDate} + ')'"></p>
        </div>
    </div>
</div>

<div style="text-align: center; margin: 50px 0;">
    <a href="/" class="btn">🔙 Back to Home</a>
</div>

</body>
</html>